body {
  font-size: 14px;
  line-height: 17px;
  background-color: #091a1a;
  color: #5fc3c3;
  font-family: 'Consolas', monospace;
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
}

h2 {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: normal;
}

/* Flex stuff */
.flexy {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  /* leave room for scrolling */
  margin-bottom: 3rem;
}

.flex {
  flex-grow: 1;
}

/* Box specific styles */
.subway {
  flex-grow: 3;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

.subway .num {
  color: white;
  cursor: pointer;
}

.subway .num:hover {
  text-decoration: underline;
}

/* absolute ledge */
.legend {
  width: 400px;
  flex-grow: 1;
}

.legend-item {
  position: relative;
  padding: 2px;
  clear: both;
}

.legend-item .name {
  width: 40px;
  float: left;
  display: block;
  color: white;
}

.legend-item .desc {
  margin: 0;
  width: 350px;
  padding: 0;
  display: inline-block;
}

.highlighted {
  color: #9BF00A !important;
  border: 1px dotted #9BF00A;
  margin: -1px;
}

.coords {
  display: none;
}

.coords.nether {
  color: #dc322f;
}

.highlighted .coords {
  display: inline;
}


/* Footer */
.footer {
  color: #236666;
  background-color: #091a1a;
}

@media screen and (min-width: 768px) {
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    text-align: center;
  }
}

.footer a {
  color: #236666;
  text-decoration: none;
  transition: color 0.1s ease;
}

.footer a:hover {
  color: #31bebe;
}
